.login__form {
  width: 100%;
  height: 100%;
}

ion-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login__form__row {
  flex-grow: 1;
  align-items: center;
}

.login__form__col {
  position: relative;
}

.login__form__error {
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
  color: var(--ion-color-danger);
}

.login__required_mark {
  color: var(--ion-color-danger);
}

.login__input_block {
  --highlight-color-focused: transparent;
  --highlight-color-invalid: transparent;
  --highlight-color-valid: transparent;
}
