<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar selectedTab="profile" slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meetings">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>meetings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
